@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

@keyframes fadeAnimatedIcon {
  from {
    opacity: .3;
  }

  to {
    opacity: 0;
    transform: translateY(400px);
  }
}

.animation-icon-container {
  position: absolute;
  width: calc(100% - 40px);
  left: 20px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .animation-icon {
    height: 30px;
    opacity: 0;
    animation: fadeAnimatedIcon 12s linear forwards infinite;

    svg {
      height: 100%;
      fill: $color-primary;
      pointer-events: none;
    }

    @media all and (max-width: $screen-sm-min) {
      display: none;
    }
  }

  @media all and (max-width: $screen-sm-min) {
    display: none;
  }
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    z-index: 1;
  }

  .search-box-large {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 500px;
    width: 100%;
    margin-top: 20px;

    .search-icon {
      position: absolute;
      left: 20px;
      font-size: 15px;
      color: $color-gray;
    }

    input {
      width: 100%;
      appearance: none;
      border: 0;
      border-radius: $border-radius-large;
      background: $color-white;
      box-shadow: $box-shadow;
      padding: $input-padding-large;
      padding-left: 48px;

      &:active,
      &:focus {
        outline: 0;
        box-shadow: $box-shadow-darken;
      }
    }
  }
}

.relevant-links {
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;

  .relevant-links-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .links {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;

      a {
        padding: 11px 10px;
        background: #fff;
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
        margin: 5px;
      }
    }
  }
}
