---
layout: handbook-page-toc
title: "Support Career Framework"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Support Career Framework

<%= partial("handbook/engineering/career-development/matrix/engineering/engineering_career_matrix_nav.erb") %>

These are the expected competencies of the Support Sub Department team members at GitLab by Job Title.
 
* [Intermediate](/handbook/engineering/career-development/matrix/engineering/support/intermediate)

* [Senior](/handbook/engineering/career-development/matrix/engineering/support/senior)

* [Staff](/handbook/engineering/career-development/matrix/engineering/support/staff)
